<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="nav-wrap">
<div class="mobile-only-brand pull-left">
	<div class="nav-header pull-left">
		<div class="logo-wrap">
			<a href="<%= BASE_URL %>">
				<img class="brand-img" src="<%= BASE_URL %>public/admin/assets/img/logo.png" alt="brand"/>
				<span class="brand-text"><img  src="<%= BASE_URL %>public/admin/assets/img/brand.png" alt="brand"/></span>
			</a>
		</div>
	</div>	
	<a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);"><i class="ti-align-left"></i></a>
	<a id="toggle_mobile_search" data-toggle="collapse" data-target="#search_form" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-search"></i></a>
	<a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="ti-more"></i></a>
	
</div>
<div id="mobile_only_nav" class="mobile-only-nav pull-right">
	<ul class="nav navbar-right top-nav pull-right">
		<li>
			<a id="open_right_sidebar" href="#"><%= session_user_full_name %></a>
		</li>
		<li class="dropdown auth-drp">
			<a href="#" class="dropdown-toggle pr-0" data-toggle="dropdown">
			
			<img src="<%= BASE_URL %>public/admin/assets/img/empty-user.png" alt="user_auth" class="user-auth-img img-circle"/><span class="user-online-status"></span></a>
			<ul class="dropdown-menu user-auth-dropdown" data-dropdown-in="flipInX" data-dropdown-out="flipOutX">
				<li>
					<a href="<%= BASE_URL %>profile"><i class="zmdi zmdi-account"></i><span>My profile</span></a>
				</li>
				<li>
					<a href="<%= BASE_URL %>change_password"><i class="zmdi zmdi-card"></i><span>Change Password</span></a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="<%= BASE_URL %>logout"><i class="zmdi zmdi-power"></i><span>Logout</span></a>
				</li>
			</ul>
		</li>
	</ul>
</div>	
</div>
</nav>